<div class="each-index col-md-offset-2">
  <h1>Perfumers</h1>
  <!-- サイドバーにアルファベット順に折りたたんで表示させたい -->
  <% @perfumers.each do |perfumer| %>
    <div>
      <%= link_to perfumer.name, perfumer_path(perfumer.id) %>
    </div>
  <% end %>
  <br>
  <% if current_user.present? && current_user.admin? %>
    <%= link_to "調香師作成画面", new_admin_perfumer_path %>
  <% end %>
</div>
