<% if current_user.present? %>
  <% if @note.favorite?(@note, current_user) %>
    <% unless @note.user_id == current_user.id %>
      <div class="like_off">
        <%= link_to "外す", note_favorite_path(note_id: @note.id, id: @favorite.id), method: :delete, remote: true, class: "like_off_btn" %>
      </div>
    <% end %>
  <% else %>
    <% unless @note.user_id == current_user.id %>
      <div class="like_on">
        <%= link_to "いいね", note_favorites_path(note_id: @note.id), method: :post, remote: true, class: "like_on_btn" %>
      </div>
    <% end %>
  <% end %>
<% end %>