<div class="comments row">
  <ul>
    <% comments.each do |comment| %>
      <% if comment.id.present? %>
        <div class="col-md-10">
          <li>
            <p><%= comment.content %></p>
          </li>
          <% if current_user.present? && current_user.id == comment.user_id %>
            <%= link_to "Delete", note_comment_path(comment.note_id, comment.id), method: :delete, remote: true, data: { confirm: "削除してよろしいですか？" } %>
            <%= link_to "Edit", edit_note_comment_path(comment.note_id, comment.id) %>
          <% end %>
          <hr>
        </div>

        <!-- <div id="edit_area"></div> -->
      <% end %>
    <% end %>
  </ul>
</div>
