<% Label.all.each do |label| %>
  <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
  <label><%= label.name %></label>
<% end %>
