.fragranceimage img {
  height: 300px; width: 300px;
  object-fit: contain;
}

.fragrance-cell {
  height: 150px;
  font-size: 14px;
}

.fragrance-picture img {
  align-self: center;
  margin-top: 30px;
}